# Environtment Variables
.env

# Node Modules
node_modules/

# ZK Builds
circuits/build/
circuits/keys/

# Circom 
circom/

# Database file
db/seed.sql

# Foundry Builds
contracts/broadcast/
contracts/out/
contracts/cache/

# Frontend Builds
frontend/build/
